# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

.vs/
.svn/
bin/
obj/

# =========================
# Operating System Files
# =========================
/ioSender XL/packages/Microsoft.Bcl.AsyncInterfaces.8.0.0-preview.6.23329.7
/ioSender XL/packages/Microsoft.Extensions.DependencyInjection.Abstractions.8.0.0-preview.6.23329.7/buildTransitive
/ioSender XL/packages/*
/ioSender XL/ioSender XL.sln.DotSettings.user
